---
import "../styles/global.css";
import t from "../i18n/ca.json";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Sectionfour from "../components/Sectionfour.astro";
import Sectionfive from "../components/Sectionfive.astro";
import Sectionsix from "../components/Sectionsix.astro";
import Sectionseven from "../components/Sectionseven.astro";
import Sectioneight from "../components/Sectioneight.astro";
import Footer from "../components/Footer.astro";
import Sectionnine from "../components/Sectionnine.astro";
---

<html lang="ca">
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Red3Conecta</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
 <style is:global>
  body {
  font-family: var(--font-secondary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
</style>
</head>
  <body>
    <Navbar />
    <main>
      <Hero />
      <About />
      <section id="ecosystem">
        <Sectionfour />
        <Sectionfive />
        <Sectionsix />
        <Sectionseven />
        <Sectioneight />
        <Sectionnine />
      </section>
    </main>
    <Footer />
  </body>
</html>
