---
import '../styles/global.css';
import t from '../i18n/ca.json';
import Navbar from '../components/Navbar.astro';
import Sectionfour from '../components/Sectionfour.astro';
import Sectionfive from '../components/Sectionfive.astro';
import Sectionsix from '../components/Sectionsix.astro';
---

<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Red3Conecta - Infraestructura Digital per al Tercer Sector</title>
</head>
<body>

    <Navbar />

    <main>
        <section id="why"></section>
        <section id="challenges"></section>
        <section id="ally"></section>
        <section id="ecosystem">
            <Sectionfour/>
            <Sectionfive/>
            <Sectionsix/>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__content">
            <p>{t.footer.collab}</p>
            <small>{t.footer.rights}</small>
        </div>
    </footer>

</body>
</html>